/* npm i -D css-loader style-loader */

body {
    margin: 0;
    padding: 0;
    background-image: url("https://ak6.picdn.net/shutterstock/videos/2683976/thumb/1.jpg");
  }
  
  h1 {
    text-align: center;
  }
  h3,
  p {
    font-size: 1.5vw;
  }
  
  section {
    margin: auto;
    width: 80%;
  }
  
  #select-wrapper {
    margin: auto;
    width: 90%;
  }
  
  .daily {
    text-align: center;
    color: darkblue;
    display: inline-block;
    width: 13%;
    height: 100%;
    background-color: rgb(208, 223, 233);
  }
  
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: darkcyan;
  }
  
  .center {
    position: relative;
    width: 90%;
    height: 200px;
    margin: auto;
  }
  
  .footer {
    display: inline-block;
    width: 10%;
  }
  
  #footer-tech {
    text-align: center;
    width: 80%;
    margin: auto;
  }
  
